{% extends "Application/Presentation/tpl/layout.twig" %}

{% block title %}Über Uns{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <div class="about-us">
                    <label class="about-us-text">
                        Hallo und willkommen zu Schokotech!
                        <div class="w-100"></div>
                        Schokolade hergestellt mit leidenschaft und tradition. Seit mehr als einem Jahrhundert ist
                        Schokotech eines der führenden Unternehmen in der Herstellung von edelster Schokolade und
                        Halbfabrikaten. Vom Cacao-Anbau bis zur Veredlung: Qualität, Transparenz und Nachhaltigkeit
                        stehen für die Nischenproduzentin aus der Zentralberlin im Fokus. Sei es in ihrer direkten
                        Zusammenarbeit mit Cacao-Bauern vor Ort, den namhaften B2B-Kunden und Partnern rund um den
                        Globus sowie bei allen Unternehmensprozessen.
                    </label>
                    <h1 class="spacer-about-us"></h1>
                    <label class="about-us-team">
                        Unser Team:
                        <div class="w-100"></div>
                        Philippos Kardaras: Teamleiter und Beratung
                        <div class="w-100"></div>
                        Sascha Müller: Junior Developer
                        <div class="w-100"></div>
                        Thorge Muth: Junior Developer
                        <div class="w-100"></div>
                        Firat Cimen: Junior Developer
                        <div class="w-100"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



