<div class="container-fluid footer">
    <div class="py-4 bg-dark text-white-50">
        <div class="d-flex justify-content-around">
            <small>Copyright &copy; Schokotech 2020</small>
            <a class="text-white-50" href="ueber-uns">Über uns</a>
            <a class="text-white-50" href="contact">Kontakt</a>
        </div>
    </div>
</div>