<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto empty-cart">
                Der Warenkorb ist zur Zeit leer .
            </div>
        </div>
    </div>
</body>