.product-list-image:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.product-list-name {
    font-size:20px;
    display: block;
    text-align: center;
}

.product-list-default-size{
    font-size:15px;
    display: block;
    text-align: center;
    grid-row: 2 / 4;
}

.product-list-price {
    font-size:20px;
    display: block;
    text-align: center;
}