<div class="container">
    <div class="row">
        {% for product in products %}
            {% include 'Category/Presentation/tpl/partials/list-item.twig' %}
        {% endfor %}
    </div>
</div>